<%# Creation of the page to show a separate gossip %>
<html>
  <head>
    <title>Gossip Index</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <hr>
    <p>Voici la page du potin n°<%= id %></p>
    <p>Son auteur : <%= gossip.author %></p>
    <p>Le contenu du potin : <%= gossip.content %></p>
  </body>
  <a href="/"><button>Retour à la page des potins</button></a>
  </p>
</html>
